{% extends 'layout.html.twig' %}

  
{% block body %}
{{ parent() }}
<div class="container-fluid producto">
        <div class="container productos-icon">
            <div class="row">
                <div class="col-sm-5">
                    <h2><i class="fa fa-usd"></i>  Confirmar Venta de Productos</h2>
                    <a href="{{ path('cya_detalleventa_add') }}" class="head-link">
        			      <h3>
        			           <span><i class="icon ion-skip-backward"></i></span>
    			                volver a selección de productos
        			         </h3>
        			 </a>
                </div>
            </div>
        </div>
</div>

  <div class="container">
	    <div class="row well">
	    
	    <div class="table-responsive">
	       
                <table class="table table-hover">
                    <thead>
                        <tr>

							<th>{{ knp_pagination_sortable(pagination, 'Producto', 'm.nombreproducto') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Cantidad', 'm.cantidad') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Precio unitario', 'm.producto.precio') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Precio Total', 'm.precioproducto') }}</th>
						
                        </tr>
                    </thead>
                    <tbody>
                        {% for detalleventa in pagination %}
                                
                                <td>{{ detalleventa.nombreproducto }}</td>
                                <td>{{ detalleventa.cantidad }}</td>
                                <td>${{ detalleventa.precioproducto/detalleventa.cantidad }}</td>
                                <td>$ {{ detalleventa.precioproducto }}</td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

          <br>
           
     </div>
 
 </div>

          
 </div>

<br>

	<div class="container">
	 
	    {{ form_start(form, {'attr' : {'role' : 'form'}, 'action':'', 'method':'POST' }) }}
	   
        <div class="row well">

            <div class="col-sm-2"> 
                <div class="form-group">
                    <b> Fecha Venta</b>
                     {{ form_widget(form.fecha, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Fecha'} }) }}
                     <span class="text-danger"> {{ form_errors(form.fecha) }} </span>
                </div>
             </div>   
             <div class="col-sm-2">
                <div class="form-group">
					   <b>     Tipo de Pago </b>
					        {{ form_widget(form.tipopago, {'attr': {'class': 'form-control', 'placeholder' : 'Tipo de Pago'}}) }}
					        <span class="text-danger">{{ form_errors(form.tipopago) }}</span>
			    </div>
            </div>  
        
            
            <div class="col-sm-2"> 
                    <div class="form-group">
                     <b>    Total x Venta $ </b>
                          {{ form_widget(form.total,  {'value': saldo }, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Total'} }) }}
                         <span class="text-danger"> {{ form_errors(form.total) }} </span>
                    </div>
            </div>
           
       
           <div class="col-sm-2">
            <div class="form-group">
              <b>  Seleccione Usuario </b>
            <select class="selectpicker" data-live-search="true" id="usuario" name="usuario" value="{{ app.request.get('usuario') }}">
                <option value="" selected disabled>Usuario</option>
                {% for us in usuarios %}
                    <option value="{{ us.id }}">{{ us.nombrecompleto }}</option>
                {% endfor %}
             </select>
            </div>
            </div> 
       
           <br>
         
             <div class="col-sm-2"></div>
            <div class="form-group">
                {{ form_widget(form.save, {'label' : 'Confirmar Venta', 'attr': {'class': 'btn btn-success'} }) }}
            </div>
            
          </div>
         
          {{ form_end(form) }}

  
 
 
 <br>
 <br>
 
        
      
 {% endblock %}
