{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container-fluid profesorado">
        <div class="container profesorado-icon">
            <div class="row">
                <div class="col-sm-5">
                    <h2>Nuevo Módulo</h2>
                    <a href="{{ path('cya_curso_index') }}" class="head-link">
        			        <h3>
        			           <span><i class="icon ion-android-arrow-dropleft back"></i></span>
        			            regresar a listado de módulos
        			         </h3>
        			    </a>
                </div>
            </div>
        </div>
    </div>

    
    {{ form_start(form, {'attr' : {'role' : 'form'}, 'action':'', 'method':'POST' }) }}
           
     <div class="container grey-input">
    	<fieldset>
        <div class="row">
           
           
           
           
            <div class="col-sm-8"> 
           
                  <div class="form-group">
                          Asignar Módulo a  <br>
                         <select class="selectpicker" data-live-search="true" id="curso" name="curso" value="{{ app.request.get('curso') }}">
                            <option value="" selected disabled>Cursos</option>
                            {% for cu in curso %}
                           <option value="{{ cu.id }}">{{ cu.titulo }}</option>
                        {% endfor %}
                       </select>
                      </div>
                   
           
           
                    <div class="form-group">
                         Título del Módulo
                         {{ form_widget(form.titulo, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Título'} }) }}
                         <span class="text-danger"> {{ form_errors(form.titulo) }} </span>
                    </div>
          
                    <div class="form-group">
                         Comentario 
                         {{ form_widget(form.comentario, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Comentario'} }) }}
                         <span class="text-danger"> {{ form_errors(form.comentario) }} </span>
                    </div>
            </div>
    

  	</fieldset>
            <div class="col-sm-12">
                
                {{ form_widget(form.save, {'label' : 'Agregar Módulo', 'attr': {'class': 'btn btn-success'} }) }}
                 
                
            </div>
            {{ form_end(form) }}
         </div>
     </div>
{% endblock %}

