{% extends 'layout.html.twig' %}

  
{% block body %}
{{ parent() }}

<div class="container-fluid cuenta">
        <div class="container cuenta-icon">
            <div class="row">
                <div class="col-sm-5">
                    <h2>Generar Deuda o Cuota</h2>
                </div>
            </div>
        </div>
</div>


	<div class="container">

	    {{ form_start(form, {'attr' : {'role' : 'form'}, 'action':'', 'method':'POST' }) }}
	    <div class="container grey-input">
        <div class="row">
         
         	<div class="col-sm-4">
         	    
         	    <div class="form-group">
               <b> Seleccione Usuario </b>
                <select class="selectpicker" data-live-search="true" id="usuario" name="usuario" value="{{ app.request.get('usuario') }}">
                   <option value="">Usuario</option>
                 {% for us in usuarios %}
                    <option value="{{ us.id }}">{{ us.nombrecompleto }}</option>
                {% endfor %}
               </select>
            </div>
         	    
         	             <b> Tipo de Cuenta Corriente </b>
                          <select class="form-control" id="tipocc"name="tipocc" value="{{ app.request.get('tipocc') }}">
                            <option value="GE">Cuenta Corriente Normal</option>
                            <option value="PC">Cuota Mes</option>
                          </select>
         <br>
                         <b> Mes </b>
                          <select class="form-control" id="mes"name="mes" value="{{ app.request.get('mes') }}">
                            <option value="2">Enero</option>
                            <option value="3">Febrero</option>
                            <option value="4">Marzo</option>
                            <option value="5">Abril</option>
                            <option value="6">Mayo</option>
                            <option value="7">Junio</option>
                            <option value="8">Julio</option>
                            <option value="9">Agosto</option>
                            <option value="10">Septiembre</option>
                            <option value="11">Octubre</option>
                            <option value="12">Noviembre</option>
                            <option value="1">Diciembre</option>

                           
                          </select>
             <br>             
                          <b> A単o </b>
                          <select class="form-control" id="a単o"name="a単o" value="{{ app.request.get('a単o') }}">
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                             <option value="2019">2019</option>
                              <option value="2020">2020</option>
                               <option value="2021">2021</option>
                               <option value="2022">2022</option>
                               <option value="2023">2023</option>
                               <option value="2024">2024</option>
                               <option value="2025">2025</option>
                               <option value="2026">2026</option>
                               <option value="2027">2026</option>
                               
                          </select>
           
       <br>
            
          </div> 
        </div>    
        
        
     <div class="row">  
       <div class="col-sm-4">
           <div class="form-group">
	        <b>  Monto $ </b>
	     	{{ form_widget(form.deuda, {'attr': {'class': 'form-control', 'placeholder' : 'Monto'}}) }}
	    	<span class="text-danger">{{ form_errors(form.deuda) }}</span>
		  </div> 
      </div> 
     </div>     
        <div class="row">  
         <div class="col-sm-4">
           <div class="form-group">
	        <b>  Comentario </b>
	     	{{ form_widget(form.comentario, {'attr': {'class': 'form-control', 'placeholder' : 'Monto'}}) }}
	    	<span class="text-danger">{{ form_errors(form.comentario) }}</span>
		  </div> 
         </div>      
    </div>   
           
            <br><br>
             <div class="col-sm-2"></div>
            <div class="col-sm-2" align = "left">
                {{ form_widget(form.save, {'label' : 'Generar CC.', 'attr': {'class': 'btn btn-success'} }) }}
            </div>
            
          </div>
          </div>
          {{ form_end(form) }}
          
 </div>

 
 
 <br>
 <br>
 
       
 
 
 
 {% endblock %}
