{% extends 'layout.html.twig' %}

  
{% block body %}
{{ parent() }}
{{ include('CYAYogaBundle:Alumnocc:messages/success.html.twig')}}
{{ include('CYAYogaBundle:Alumnocc:messages/danger.html.twig')}}
    <div class="container-fluid cuenta">
        <div class="container cuenta-icon">
            <div class="row">
                <div class="col-sm-5">
                    <h2> <i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp; Cuentas Corrientes de Alumnos </h2>
                   <h4>Leyenda: pc (pago cuota)  - cc (cuota cancel.) - vp (venta producto) - pd (pago diario) - ge (generada) </h4>
                
                
                
                

             
             
                </div>
                
                   
                       
                <div class="col-sm-7">
                    <form method="get" action="" class="form-inline pull-right" role="search">
                        
                        <div class="form-group select-class">
                          <select class="form-control" id="pago" name="pago" value="{{ app.request.get('pago') }}">
                            <option value="" selected disabled>Tipo</option>
                            <option value="">Todas</option>
                            <option value="S">Pagas</option>
                            <option value="N">No pagas</option>
                          </select>
                        </div>
                        
        				<div class="form-group">
                            <select class="selectpicker" data-live-search="true" id="usuario" name="usuario" value="{{ app.request.get('usuario') }}">
                                <option value="" selected disabled>Usuario</option>
                                {% for us in usuarios %}
                                    <option value="{{ us.id }}">{{ us.nombrecompleto }} </option>
                                {% endfor %}
                             </select>
                        </div>

        				<input type="submit" value="Buscar" class="btn btn-success">
        			</form>
        		
                </div>
                	 
            </div>
                      
                       
                       
        </div>
          
    </div>
          
            <div class="container">
                   <div class="row well"align ='right'>
                        <a href="{{ path('cya_usuario_generarcuota') }}" class="btn btn-success"  > Generar Cuotas Pendientes </a>
                      
    &nbsp;
                      
                        <a href="{{ path('cya_alumnocc_generacc') }}" class="btn btn-success"  > Generar CC  </a>
                       </div>
	    <div class="row well">
	                
            <h3><b>Datos del Alumno:</b></h3>
                       
                    
                        <div >
                           {% if datosuser != null %}
                           
                           {% if datosuser.isActive == 1 %}
                       <h4>  <b> Nombre:   </b>   <font color="#2E64FE">  {{datosuser.nombrecompleto}} </font>  &nbsp; <b>Estado: </b> <font color="green"> Activo  </font></h4>
                           {% endif %}
                           {% if datosuser.isActive == 0 %}
                         <h4>  <b> Nombre:   </b>  {{datosuser.nombrecompleto}}  &nbsp; <b>Estado: </b> <font color="red"> Inactivo </font> </h4>
                           {% endif %}
                           
                         
                         
                          <h4> <b>Tipo de Cuota: </b> {{datosuser.tipocuota.nombre}} &nbsp; <b>Valor: </b>  $ {{datosuser.tipocuota.valor}} </h4>
                       
                           <h4>
                            {% if datosuser.haveasoc == 1 %}
                              <b> Asociación </b> : Sí    
                           {% else %}
                                 <b> Asociación </b> : No    
                           {% endif %}
                           &nbsp;
                           {% if datosuser.havelocker == 1 %}
                                <b> Locker </b> : Sí    
                             {% else %}
                                 <b> Locker </b> : No    
                           {% endif %} </h4>
                           
                           
               
                      {% endif %}
              
          
                     
          
             </div>
            
          
  
            
            </div>
            </div>
            
                
	<div class="container">
	    <div class="row well">
	    	
	    <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>

							<th>{{ knp_pagination_sortable(pagination, 'Alumno', 'a.nombrecompleto') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Fecha de Reingreso', 'a.fechavencimiento') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Cuota Mes', 'a.deuda') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Debe', 'a.deuda') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Pagado', 'a.pagado') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Bonificación', 'a.bonificacion') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Modificacion', 'a.fechamodificacion') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Tipo', 'a.tipo') }}</th>
							<th align=center>{{ knp_pagination_sortable(pagination, 'Comentario', 'a.comentario') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Ticket', 'a.ticket') }}</th>
                            
                            <th>Acciones</th>
                   
                        </tr>
                    </thead>
                    <tbody>
                        {% for alumnocc in pagination %}
                            <tr data-id="{{ alumnocc.id }}">
                                
                                <td>{{ alumnocc.usuario.apellido }}, {{ alumnocc.usuario.nombre }} </td>
                                <td>{{ alumnocc.usuario.fechareingreso |date('d/m/Y') }}</td>
                                <td>{{ alumnocc.mes }}</td>

                                <td>{{ alumnocc.deuda }}</td>
                                <td>{{ alumnocc.pagado }}</td>
                                <td>{{ alumnocc.bonificacion }}</td>
                                <td>{{ alumnocc.fechamodificacion |date('d/m/Y') }}</td>
                                <td>{{ alumnocc.tipo }}</td>
                               <h6> <td>{{ alumnocc.comentario }}</td> </h6>
                               <td>{{ alumnocc.ticket }}</td>
                               
                                <td class="actions" style = "width:100%;">
                                   
                                    <a href="{{ path('cya_alumnocc_detallepago', {id: alumnocc.id }) }}" 
                                    {% if alumnocc.pagado == 0 or alumnocc.tipo != 'VP' %}
                                        class="btn btn-warning disabled"
                                    
                                    {% elseif alumnocc.pagado > 0 or alumnocc.tipo == 'VP' %} 
                                        class="btn btn-warning"
                                    {% endif %} title = "Detalle">
                                          <i class="fa fa-search"></i>
                                        
                                    </a>
                                    
                                    <a href="{{ path('cya_alumnocc_pago', {id: alumnocc.id }) }}"
                                        {% if alumnocc.deuda <= (alumnocc.pagado + alumnocc.bonificacion)  %}
                                            class="btn btn-success disabled"
                                        {% elseif alumnocc.deuda > (alumnocc.pagado + alumnocc.bonificacion) %} 
                                            class="btn btn-success"
                                        {% endif %}  title = "Pagar">
                                       <i class="fa fa-usd"></i> 
                                       
                                    </a>
                                    
                                    <a href="{{ path('cya_alumnocc_delete', {id: alumnocc.id }) }}" onclick="return confirm('Está seguro??')"
			                            {% if alumnocc.tipo == 'CC' %}
                                            class="btn btn btn-danger btn-delete"
                                        {% elseif alumnocc.tipo == 'PD' %} 
                                            class="btn btn btn-danger btn-delete"
                                        {% elseif alumnocc.tipo == 'VP' %} 
                                            class="btn btn btn-danger btn-delete"
                                             {% elseif alumnocc.tipo == 'GE' %} 
                                            class="btn btn btn-danger btn-delete"
                                        {% elseif alumnocc.tipo == 'PC' %}
                                         class="btn btn btn-danger btn-delete"   
                                         
                                        {% endif %}  title = "Eliminar">
                                        
			                           <i class="fa fa-trash"></i>
			                        </a>
			                        
			                        
			                         <a href="{{ path('cya_alumnocc_ticket', {id: alumnocc.id }) }}"
                                        class="btn btn-success"
                                         title = "Ticket Entregado">
                                       <i class="fa fa-check"></i> 
                                       
                                    </a>
			                        
			                        
			                      
			                         <th>
			                        
			                             
			                           {% if alumnocc.pagado > 0 %}
			                     
			                          
    			                     {% set mez = alumnocc.mes   %}
                                     {% set mez = mez|replace({'/': '-'}) %}
                                    
                                     {% if mez == null  %}
                                     {% set mez = '_'   %}
                                     {% endif   %}

                                        
			                         <a href="{{ path('cya_usuario_imprimircuota2', { id: alumnocc.usuario.id ,valorcuota:alumnocc.pagado, mes:mez, cc:alumnocc.id}) }}" class="btn btn-sm btn-primary">
			    	                 <span class="icon ion-print"></span>
			        	             Impr. (Pagó: $ {{alumnocc.pagado}})
					                  </a>
					                     {% endif %} 
			                        <th>
                                     </td>
                                 
                                 
                                
                            </tr>
                        {% endfor %}
                        
                        
                    </tbody>
                </table>
         
                   </div>
        </div>
    </div>  
    
    <div class="container">
	    <div class="row well">
         
          <H4> Total Movimientos: {{ contador }}</H4>
          <H4> Total Deudas: {{ deudas }}</H4>
           <H4> Total Pagado: {{ pagados }}</H4>
            <H4> Total Bonificaciones: {{ bonificaciones }}</H4>
        
          </br>
         {% if saldo < 0 %}  
         <H4 >  <b> <span class="text-danger">SALDO NEGATIVO: $ {{ saldo }}</span> </b>  <H4 >
         {% endif %}</td>  
         
          {% if saldo >= 0 %}  
         <H4 >  <b> <span class="text-success">SALDO POSITIVO: $ {{ saldo }}</span> </b>  <H4 >
         {% endif %}</td>  
           
           
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>

</div>
</div>

{% endblock %}
