<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("cya_usuario_inicio") }}"> 
                <i class="icon ion-android-home"></i>
                <span>Inicio</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                {% if is_granted('ROLE_SUPER') or is_granted('ROLE_ADMIN') %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    
                    <div class="change"><i class="fa fa-users"></i> &nbsp;Usuarios</div><div class="icon1"></div><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('cya_usuario_rapido') }}">Carga R치pida de Usuario</a></li>
                         <li><a href="{{ path('cya_usuario_add') }}">Nuevo Usuario</a></li>
                         <li><a href="{{ path('cya_usuario_index') }}">Listado de Usuarios</a></li>
                         <li><a href="{{ path('cya_tipocuota_add') }}">Nuevo Tipo de Cuota</a></li>
                        <li><a href="{{ path('cya_tipocuota_index') }}">Listado de Tipos de Cuota</a></li>

                        
                    </ul>
                
                </li>
                
                     <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="change"><i class="icon ion-bag"> </i> &nbsp;Prod.</div><div class="icon2"></div><span class="caret"></span>
                    </a>
                     <ul class="dropdown-menu">
                        <li><a href="{{ path('cya_tipoproducto_add') }}">Nuevo Tipo de Producto</a></li>
                        <li><a href="{{ path('cya_tipoproducto_index') }}">Listado de Tipos de Productos</a></li>
                       
                        <li><a href="{{ path('cya_producto_add') }}">Nuevo Producto</a></li>
                         <li><a href="{{ path('cya_producto_index') }}"> Listado de Productos</a></li>
                         <li><a href="{{ path('cya_detalleventa_add') }}">Venta de Productos</a></li>
                         <li><a href="{{ path('cya_stock_add') }}">Cargar Stock de Productos</a></li>
                         
                          <li><a href="{{ path('cya_locker_add') }}">Nuevo Locker</a></li>
                          <li><a href="{{ path('cya_locker_index') }}">Listado de Lockers</a></li>
                         
                          <li><a href="{{ path('cya_lockersocio_add') }}">Asignar Locker</a></li>
                          <li><a href="{{ path('cya_lockersocio_index') }}">Listado de Asignaciones de Lockers</a></li>

                    </ul>
                    
                    
                    
                  </li>
                  
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                       
                        <div class="change"><i class="fa fa-usd"> </i> &nbsp;Caja</div><div class="icon3"></div><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ path('cya_rubro_index') }}"> Rubros de Caja</a></li>
                          <li><a href="{{ path('cya_movimiento_add') }}"> Nuevo Movimiento de Caja </a></li>
                          <li><a href="{{ path('cya_movimiento_index') }}"> Listado de movimientos de Caja </a></li>
                          <li><a href="{{ path('cya_caja_index') }}"> Cierres de Caja</a></li>
                        </ul>
                   </li>
                   
                   <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    
                    <div class="change"><i class="fa fa-credit-card"> </i> &nbsp;Cta. Cte</div><div class="icon4"></div><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li><a href="{{ path('cya_alumnocc_index') }}">Listado Cta. Cte. y Cuotas</a></li>
                        <li><a href="{{ path('cya_alumnocc_pagodiario') }}">Pago diario clase de yoga</a></li>
                        <li><a href="{{ path('cya_alumnocc_indexdeuda') }}">Listado de Deuda de Alumnos</a></li>
                        <li><a href="{{ path('cya_proveedor_index') }}">Proveedores</a></li>
                        <li><a href="{{ path('cya_proveedorcc_index') }}">CC. con Proveedores</a></li>
                        </li>
                   
                        
                        
                   </ul>
                   </li>
                   
                    <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    
                    <div class="change"><i class="fa fa-graduation-cap"> </i> &nbsp;Cursos Online</div><div class="icon5"></div><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('cya_curso_index') }}">Listado de Cursos</a></li>
                       <li><a href="{{ path('cya_materia_index') }}">Listado de M칩dulos</a></li>
                        <li><a href="{{ path('cya_tema_index') }}">Temas por M칩dulos</a></li>
                       <li><a href="{{ path('cya_cursada_index') }}">Inscripciones a Cursar</a></li>
                      <li><a href="{{ path('cya_cursada_index') }}">Inscripciones a Rendir</a></li>
                   </ul>
                   
                   
    
                   
                   
                   {% endif %}
                   {% if is_granted('ROLE_USER') %}
                   
                       <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                   
                            Usuario<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('cya_usuario_editpublic') }}">Editar datos personales</a></li>
                            </ul>
                       
                       </li>
                       <li></li> <li></li>
                       <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            
                            Cuenta corriente<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('cya_alumnocc_indexpublic') }}">Ver Resumen</a></li>

                           </ul>
                          </li>
                   {% endif %}
                   
            </ul>
            
            
            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="drop-fix">
  
                        {% if (app.user.brochure) %}
                        <span class="avatar">
                            <img src="{{ asset('web/uploads/brochures'~'/'~ app.user.brochure) }}"class="avatar-tabla" /> 
                        </span>
                        {% else %}
                         <span class="avatar">
                         <img src="{{ asset('public/img/avatar.jpg') }}"class="avatar-tabla"/> 
                           </span>
                        {% endif %}
                        <div class="change">{{ app.user.username }}</div>
                    </a>
                      
                </li>
                <li><a href="{{ path('cya_yoga_logout') }}" data-toggle="tooltip" data-placement="bottom" title="Cerrar sesi칩n"><i class="icon ion-close-circled"></i></a></li>
            </ul>
        </div>
    </div>
</nav>