{% extends 'layout.html.twig' %}

  
{% block body %}
{{ parent() }}
{{ include('CYAYogaBundle:Alumnocc:messages/success.html.twig')}}
{{ include('CYAYogaBundle:Alumnocc:messages/danger.html.twig')}}
  <br>
    <div class="container-fluid cuenta">
        <div class="container alumnos-icon">
            <div class="row">
                <div class="col-sm-5">
                    <h2>Cuenta Corriente</h2>
                </div>
                <div class="col-sm-7">
                    <form method="get" action="" class="form-inline pull-right" role="search">
                        
        			</form>
                </div>
            </div>
        </div>
    </div>
           
    
            
	<div class="container">
	    
	    <div align= center> <h4> <b> Último Movimiento </b> <h4> </div>
	    <br> <br>
	    
	    
	    <div class="row">
	    	
	    <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        	<th>Alumno</th>
                        	<th>Cuota Mes</th>
						
							<th>Debe</th>
							<th>Pagado</th>
						
							<th>Modificación</th>
						
                            
                        </tr>
                    </thead>
                    <tbody>
                        {%set iteracion = 1%}
                        {% for alumnocc in pagination if iteracion ==1 %}
                            <tr data-id="{{ alumnocc.id }}">
                                
                                <td>{{ alumnocc.usuario.apellido }}, {{ alumnocc.usuario.nombre }}</td>
                                <td>{{ alumnocc.mes }}</td>
                           
                                <td>{{ alumnocc.deuda }}</td>
                                <td>{{ alumnocc.pagado }}</td>
                              
                                <td>{{ alumnocc.fechamodificacion | date('d/m/Y - h:i:s') }}</td>
                               
                               
                               
                            </tr>
                        
                          {%set iteracion = 0%}
                          
                        {% endfor %}
                    </tbody>
                </table>
                
        
        
          </br>
         {% if saldo < 0 %}  
         <H4 >  <b> <span class="text-danger">SALDO NEGATIVO: $ {{ saldo }}</span> </b>  <H4 >
         {% endif %}</td>  
         
          {% if saldo >= 0 %}  
         <H4 >  <b> <span class="text-success">SALDO POSITIVO: $ {{ saldo }}</span> </b>  <H4 >
         {% endif %}</td>  
                
           <h6>Cualquier duda o consulta dirigirse a administración.</h6>     
         
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
