{% extends 'layout.html.twig' %}

  
{% block body %}
{{ parent() }}
{{ include('CYAYogaBundle:Detalleventa:messages/success.html.twig')}}


<div class="container-fluid producto">
        <div class="container productos-icon">
            <div class="row">
                <div class="col-sm-5">
                    <h2> <i class="fa fa-truck"></i> &nbsp; Carga de Stock</h2>

                </div>
            </div>
        </div>
</div>


	<div class="container grey-input">
	 <div class="home-avatar">
	    {{ form_start(form, {'attr' : {'role' : 'form'}, 'action':'', 'method':'POST' }) }}
	    <div class="container grey-input">
      

         <div class = row>  
          <div class="col-sm-2">
               <div class="form-group">
        Seleccione
            <select class="selectpicker" data-live-search="true" id="producto" name="producto" value="{{ app.request.get('producto') }}">
                <option value="" selected disabled>Producto</option>
                {% for us in productos %}
                    <option value="{{ us.id }}">{{ us.descripcion }} ---> Stock: {{ us.stock }} </option>
                {% endfor %}
             </select>
                </div>
            </div> 
        </div>
       
       
        <div class = row>     
            <div class="col-sm-2"> 
                  <div class="form-group">
                     Cantidad a Ingresar
                     {{ form_widget(form.cantidad, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Cantidad'} }) }}
                     <span class="text-danger"> {{ form_errors(form.cantidad) }} </span>
                </div>
            </div>
            <br>
            
        <br>
 
            
        </div>
              
    
        
     
     
      <div class = row>     
            <div class="col-sm-4"> 
                  <div class="form-group">
                     Comentarios
                     {{ form_widget(form.comentario, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Comentario'} }) }}
                     <span class="text-danger"> {{ form_errors(form.comentario) }} </span>
                </div>
            </div>
            <br>
            
        <br>
 
            
        </div>       
                       
              
              <br>
              <br>
              
              <div class = row>
            
              <div class = col-sm-2> 

              {{ form_widget(form.save, {'label' : 'Agregar Stock', 'attr': {'class': 'btn btn-success'} }) }}
      
              </div>

              </div>
             
             
 {{ form_end(form) }}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
    </div>
   </div>  
   </div> 
   <br>
   <br>
         <div class="container">
	    <div class="row">
	    	
	    <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>

						
							<th>Producto</th>
							<th>Cantidad Cargada</th>
							<th>Fecha/Hora de Carga</th>
							<th>Comentario</th>
							<th>Usuario</th>
							{#<th>{{ knp_pagination_sortable(pagination, 'Precio unitario', 'm.producto.precio') }}</th>#}
							{#<th>{{ knp_pagination_sortable(pagination, 'Precio Total', 'm.precioproducto') }}</th>#}
						
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in pagination %}
                                
                               
                                 <td>{{ stock.producto.descripcion}}</td>
                                 <td>{{ stock.cantidad }}</td>
                                  <td>{{ stock.fechainicio| date('d/m/Y - h:i:s') }}</td>
                                   <td>{{ stock.comentario }}</td>
                                  <td>{{ stock.usuario.nombrecompleto}}</td>
                                {#<td>${{ stock.precioproducto/stock.cantidad }}</td>#}
                                {#<td>$ {{ stock.precioproducto }}</td>#}
                                 <td class="actions">
                                      
    			                           <a href="{{ path('cya_stock_delete', {id: stock.id }) }}" class="btn btn-danger" title="Eliminar" >
    			                              <i class="fa fa-trash"></i>
    			                        </a>
                                    </td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>

           <br>

            <b>
           <H4> {% trans %}Total stocks cargados:{% endtrans %} {{ pagination.getTotalItemCount }} </H4> 
               
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            
      {#      <a href="{{ path('cya_stock_add') }}" class="btn btn-success">#}
    		{# Pagar Venta#}
    		{#</a>#}
            
             
            </b>
             <br>
              <br>
            </div>
            
                
            </div>
        </div> 
         
         
         
         
 
 {% endblock %}
