{% extends 'layout.html.twig' %}

  
{% block body %}
{{ parent() }}
{{ include('CYAYogaBundle:Proveedorcc:messages/success.html.twig')}}
<div class="container-fluid cuenta">
        <div class="container cuenta-icon">
            <div class="row">
                <div class="col-sm-5">
                    <h2><i class="fa fa-truck" aria-hidden="true"></i> &nbsp; Cuentas Corrientes con Proveedores</h2>
                    <a href="{{ path('cya_proveedorcc_add') }}" class="head-link">
        			        <h3>
        			           <span><i class="icon ion-plus"></i></span>
    			                Agregar nuevo movimiento de cc.
        			         </h3>
        			    </a>
                </div>
                <div class="col-sm-7">
                    <form method="get" action="" class="form-inline pull-right" role="search">
                    
                     <div class="form-group select-class">
                          <select class="form-control" id="pago" name="pago" value="{{ app.request.get('pago') }}">
                            <option value="" selected disabled>Tipo</option>
                            <option value="">Todas</option>
                            <option value="S">Pagas</option>
                            <option value="N">No pagas</option>
                          </select>
                        </div>
                     
                     <div class="form-group">
                            <select class="selectpicker" data-live-search="true" id="proveedorq" name="proveedorq"   
                            value="{{ app.request.get('proveedores') }}">
                               <option value="">Seleccione Proveedor</option>
                             {% for pro in proveedores %}
                                <option value="{{ pro.id }}">{{ pro.nombre }}</option>
                            {% endfor %}
                           </select>
                        </div>
                 	<input type="submit" value="Buscar" class="btn btn-success">
        			</form>
                </div>
            </div>
        </div>
    </div>
	<div class="container">
	    <div class="row">
	    	
	    <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>

							<th>{{ knp_pagination_sortable(pagination, 'Proveedor', 'p.proveedor.nombre') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Fecha Vencimiento', 'p.fechavencimiento')}} </th>
						    <th>{{ knp_pagination_sortable(pagination, 'Deuda $', 'p.deuda') }} </th>
						    <th>{{ knp_pagination_sortable(pagination, 'Pagado $', 'p.pagado') }} </th>
						    <th>{{ knp_pagination_sortable(pagination, 'Nº Factura', 'p.factura') }} </th>
						    <th>{{ knp_pagination_sortable(pagination, 'Descripción', 'p.tipo') }} </th>
                            <th>Acciones</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for proveedorcc in pagination %}
                            <tr data-id="{{ proveedorcc.id }}">
                                
                                <td>{{ proveedorcc.proveedor.nombre}}</td>
                                <td>{{ proveedorcc.fechavencimiento|date('d/m/Y')  }}</td>
                                <td>{{ proveedorcc.deuda }}</td>
                                <td>{{ proveedorcc.pagado }}</td>
                                <td>{{ proveedorcc.factura }}</td>
                                <td>{{ proveedorcc.tipo }}</td>

                                <td class="actions">
                                
                                    <a href="{{ path('cya_proveedorcc_edit', {id: proveedorcc.id }) }}" class="btn btn-success" title = "Editar">
                                        {% trans %} <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp; 
 {% endtrans %}
                                    </a>
                                    
                                     <a href="{{ path('cya_proveedorcc_pago', {id: proveedorcc.id }) }}" class="btn btn-primary" title="Realizar Pago">
                                        {% trans %} <i class="fa fa-usd" aria-hidden="true"></i> &nbsp; 
 {% endtrans %}
                                    </a>
                                    
                                      <a href="{{ path('cya_proveedorcc_delete', {id: proveedorcc.id }) }}" 
                                       class="btn btn-danger"
                                      onclick="return confirm('Está seguro??')"
			                           title="Eliminar" >
			                           <i class="fa fa-trash" aria-hidden="true"></i> &nbsp; 

			                        </a>
			                        
			                        
                                    
                                    
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <H4> {% trans %}Cantidad Movimientos:{% endtrans %} {{ pagination.getTotalItemCount }}</H4>
                <H4> Total Deuda: $ {{ deuda }}</H4>
                <H4> Total Pagado: $ {{ pagado }}</H4>
                 <H3> Saldo: $ {{ saldo |round (2, 'floor') }}</H3>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}