{% extends 'layout.html.twig' %}

  
{% block body %}
{{ parent() }}
{{ include('CYAYogaBundle:Curso:messages/success.html.twig')}}
<div class="container-fluid profesorado">
        <div class="container profesorado-icon">
            <div class="row">
                <div class="col-sm-12">
                    <h2><i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp; 
                 Videos / Archivos </h2>

                <br><br>
                </div>
                
                
             <br> <br> <br>
                
                	{% if is_granted('ROLE_SUPER') or is_granted('ROLE_ADMIN') or is_granted ('ROLE_PE') %}
                
                    <form method="get" action="" class="form-inline pull-right" role="search">
                        
        				<div class="form-group">
                            <select class="selectpicker" data-live-search="true" id="cuota" name="cuota" value="{{ app.request.get('cuota') }}">
                                <option value="" selected disabled> Elija Curso</option>
                                {% for us in cuotas %}
                                    <option value="{{ us.id }}">{{ us.nombre }}</option>
                                {% endfor %}
                             </select>
                        </div>
                        

        				<input type="submit" value="Buscar" class="btn btn-success">
        			</form>
        			
        				{% endif %}
            </div>
        </div>
    </div>
  
	<div class="container">
	    
	    <div class="row">
	        
	        {% if  elegida %} 
	         <br>
	         <h4> Curso: <b> {{elegida.nombre}} </h4></b>
	     
	        <H4> {% trans %}Total videos/archivos cargados:{% endtrans %}<b> {{ pagination.getTotalItemCount }} </b></H4>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
	     <br>
	   
	    <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>

							{#<th>{{ knp_pagination_sortable(pagination, 'Código', 'r.id') }}</th>#}
							<th>{{ knp_pagination_sortable(pagination, 'Nombre del Video/Archivo', 'r.titulo') }} </th>
							<th>{{ knp_pagination_sortable(pagination, 'Link', 'r.descripcion') }} </th>
						
							{#<th>{{ knp_pagination_sortable(pagination, 'Fecha inicio', 'r.fechaini') }} </th>#}
							{#<th>{{ knp_pagination_sortable(pagination, 'Fecha Fin', 'r.fechafin') }} </th>#}
						
							{% if is_granted('ROLE_SUPER') or is_granted('ROLE_ADMIN') or is_granted ('ROLE_PE') %}
                            <th>Acciones</th>
                        	{% endif %}
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for curso in pagination %}
                            <tr data-id="{{ curso.id }}">
                                
                                {#<td>{{ curso.id }}</td>#}
                                <td>{{ curso.titulo }}</td>
                                <td> <a href="{{curso.descripcion}}" class="link" target="_blank" title="Abrir link" > Abrir enlace </a> </td>
                             
                                
                                
                                {#<td>{{ curso.fechaini| date('d/m/Y') }}</td>#}
                                {#<td>{{ curso.fechafin | date('d/m/Y')}}</td>#}
                                
                                
                                {% if is_granted('ROLE_SUPER') or is_granted('ROLE_ADMIN')or is_granted ('ROLE_PE') %}
                                
                                <td class="actions">
                                    <a href="{{ path('cya_curso_edit', {id: curso.id, cursoid: elegida.id, cursonombre: elegida.nombre }) }}" class="btn btn-success" title="Editar">
                                        {% trans %} <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp; 
                                       {% endtrans %}

                                    </a>
                                    
                                      <a href="{{ path('cya_curso_delete', {id: curso.id }) }}" onclick="return confirm('Está seguro??')"
			                           class="btn btn btn-danger"  title="Eliminar">
              
			                           <i class="fa fa-trash" aria-hidden="true"></i> &nbsp; 

			                        </a>
                                    
                                    	{% endif %}
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    
                    
                    
                    
                </table>
                
                	{% if is_granted('ROLE_SUPER') or is_granted('ROLE_ADMIN') or is_granted ('ROLE_PE') %}
                         <a href="{{ path('cya_curso_add', {cursoid: elegida.id, cursonombre: elegida.nombre} ) }}" class="link">
        			        <h4>
        			           <span><i class="icon ion-plus"></i></span>
    			                Agregar Nuevo Video / Archivo
        			         </h4>
        			    </a>
        		 {% endif %}    
        			    
                <br><br>
           
           
           
           
        
           {#<H4> {% trans %}Total Videos / Archivos:{% endtrans %} {{ pagination.getTotalItemCount }}</H4>#}
                {# display navigation #}
           {#     <div class="navigation">#}
           {#         {{ knp_pagination_render(pagination) }}#}
           {#     </div>#}
           
                
            </div>
        </div>
    </div>
    
    {% endif %}     
    
{% endblock %}