{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {{ include('CYAYogaBundle:Tipocuota:messages/success.html.twig') }}
    <div class="container-fluid alumnos">
        <div class="container alumnos-icon">
            <div class="row">
                <div class="col-sm-5">
					<h2><i class="fa fa-credit-card" aria-hidden="true"></i> Editar tipo de cuota</h2>
				</div>
		    </div>
            </div>
        </div>
    </div>	
			
			  <div class="container grey-input">
        <div class="row">
				{{ form_start(form, {'attr': { 'role' : 'form'}}) }}
				<h4 class="text-danger">{{ form_errors(form) }}</h4>
                     
					<fieldset>
						
						<div class="col-sm-4">
			                <div class="form-group">
			                     Nombre
			                     {{ form_widget(form.nombre, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Nombre'} }) }}
			                     <span class="text-danger"> {{ form_errors(form.nombre) }} </span>
			               </div>
			            </div>
			            
			            <div class="col-sm-4"> 
			                <div class="form-group">
			                     Valor
			                     {{ form_widget(form.valor, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Valor'} }) }}
			                     <span class="text-danger"> {{ form_errors(form.valor) }} </span>
			                </div>
			            </div>
			            
			             <br><br>  <br><br>  <br><br>  <br><br>
          
            <div class="col-sm-12">
                <div class="form-group">
                <b> Cambie el mensaje para todos los Alumnos de este Curso/Actividad: </b> 
                     {{ form_widget(form.mensaje, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Mensaje'} }) }}
                     <span class="text-danger"> {{ form_errors(form.mensaje) }} </span>
               </div>
            </div>
            
            
			            
			        
			            
			         <br><br><br><br><br><br>
          <div class="row">
              
             <div class="col-sm-6">
                     <label> Tipo
                         {{ form_widget(form.escurso) }}
                         <span class="text-danger"> {{ form_errors(form.escurso) }} </span>
                     </label>
             </div>
                  
          </div>
          
       
      <br><br>
                 
                   {#<b> Ingrese un mensaje para este alumno: </b> #}
                   {#  {{ form_widget(form.mensaje, { 'attr' : { 'class' : 'form-control', 'placeholder' : 'Mensaje'} }) }}#}
                   {#  <span class="text-danger"> {{ form_errors(form.mensaje) }} </span>              #}
            
          
          
          
          <br><br><br>
          
			            
				 	</fieldset>
                     
				    <p>
				        {{ form_widget(form.save, {'label' : 'Modificar tipo de cuota', 'attr': {'class': 'btn btn-success'}}) }}
				    </p>
                 
                   
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}