{% extends 'layout.html.twig' %}

{% block body %}
{{ parent() }}
{{ include('CYAYogaBundle:Tipocuota:messages/success.html.twig')}}
<div class="container-fluid alumnos">
        <div class="container alumnos-icon">
            <div class="row">
                <div class="col-sm-5">
                    <h2> <i class="fa fa-list-ol" aria-hidden="true"></i> &nbsp;  Listado de Tipos de Cuota</h2>
                    <a href="{{ path('cya_tipocuota_add') }}" class="head-link">
    			        <h3>
    			           <span><i class="icon ion-plus"></i></span>
    			            Nuevo tipo de cuota
    			         </h3>
    			    </a>
                </div>
                <div class="col-sm-7">
                    <form method="get" action="" class="form-inline pull-right" role="search">

        			</form>
                </div>
            </div>
        </div>
    </div>
	<div class="container">
	    <div class="row">
	    	
	    <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>

							<th>{{ knp_pagination_sortable(pagination, 'Nombre', 't.nombre') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Valor', 't.valor') }} </th>
								<th>{{ knp_pagination_sortable(pagination, 'Tipo', 't.tipocuota') }} </th>
							
                            <th>Acciones</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipocuota in pagination %}
                            <tr data-id="{{ tipocuota.id }}">
                                
                                <td>{{ tipocuota.nombre }}</td>
                                <td>$ {{ tipocuota.valor }}</td>
                                <td>
                               
                                {% 
                                if  tipocuota.escurso   == 1 %}
                               
                               <span class="text-danger">    CURSO </span>
                               
                                 {% endif %} 
                                 
                                 {% 
                                
                                 if  tipocuota.escurso   == 0 %}
                               
                                 <span class="text-success">    CLASE </span>
                               
                                 {% endif %} 
                                
                       
                                 
                                 </td>









                                <td class="actions">
                                    <a href="{{ path('cya_tipocuota_edit', {id: tipocuota.id }) }}" class="btn btn-success"  title="Editar">
                                   <i class="fa fa-pencil"></i> 
                                    </a>
                                    
                                  <a href="{{ path('cya_tipocuota_delete', {id: tipocuota.id }) }}" onclick="return confirm('Está seguro?')"
                                  class="btn btn btn-danger btn-delete"
                                        title="Eliminar" >
			                           <i class="fa fa-trash"></i>
			                     </a>
                                    
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
           <H4> Total Tipos de cuota: {{ pagination.getTotalItemCount }}</H4>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}