{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
    {{ include('CYAYogaBundle:Usuario:messages/success.html.twig') }}
	<div class="main container">
		<div class="row well">
			<div class="col-md-20">
				<div class="page-header">
					<h2>Cambiar Avatar</h2> <br>
					<h5>(Tamaño máximo de la imágen: 1000px de ancho y 1000px de largo)</h5>
				</div>
				{{ form_start(form, {'attr': { 'rol' : 'form'}}) }}
				<h4 class="text-danger">{{ form_errors(form) }}</h4>
                     
					<fieldset>
                      <div class="col-md-20">
					    <div class="form-group">
					       
					        {{ form_widget(form.brochure, {'attr': {'class': 'form-control', 'placeholder' : 'archivo'}}) }}
					        <span class="text-danger">{{ form_errors(form.brochure)}}</span>
					    </div>
					    
					    
					    
					    
					    <br>
				  	  <br>
	         	</div>
	         	
	         	        {{ form_widget(form.save, {'label' : 'Grabar Avatar', 'attr': {'class': 'btn btn-success'}}) }}
				 	</fieldset>
                  
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}