


<table width="550" cellspacing="1" cellpadding="3" border="1" bgcolor="white"> 
<tr align = "left"> 
   <td bgcolor="white"> 
<font size=3 face="verdana, arial, helvetica"> 
<b>  Alumno:</b> {{alumno}} <br> <br>
<b>Fecha: </b> {{fecha|date('d/m/Y')}} <br> <br>
<b>Tipo de cuota:</b> {{tipocuota}} <br><br>
</b> 
</font> 
   </td> 
</tr> 
<tr align = "left"> 
<br>
    <td bgcolor="#C3C3C3"> 
   <font face="verdana, arial, helvetica" size=5> 

 
  <b>Valor</b>: ${{valorcuota}} -  {{mes}}
   </font> 
   </td> 
   <br>
</tr> 

<tr align = "center"> 
   <td bgcolor="white"> 
<font size=3 face="verdana, arial, helvetica"> 
<br></br>
<b>  Centro de Yoga Aplicada </b> <br> 
<i> Corrueges 152 - Paraná - Tel: 0343 421-7208  <br>
   www.yogaaplicada.com.ar | Facebook: Centro de Yoga Aplicada</i>   

</font> 
   </td> 
</tr> 

</table>