{% extends 'layout.html.twig' %}

  
{% block body %}
{{ parent() }}
{#{{ include('CYAYogaBundle:Usuario:messages/success.html.twig')}}#}
{#{{ include('CYAYogaBundle:Usuario:messages/danger.html.twig')}}#}


<div class="container-fluid producto">
        <div class="container productos-icon">
            <div class="row">
                <div class="col-sm-5">
                    <h2><i class="fa fa-gift" aria-hidden="true"></i>&nbsp;  Listado de Productos</h2>
                    <a href="{{ path('cya_producto_add') }}" class="head-link">
        			      <h3>
        			           <span><i class="icon ion-plus"></i></span>
    			                Agregar nuevo producto
        			         </h3>
        			 </a>
                </div>
               
                <div class="col-sm-7">
                    
                    <form method="get" action="" class="form-inline pull-right" role="search">
        				<div class="form-group">
        					          <div class="form-group">
                            <select class="selectpicker" data-live-search="true" id="productot" name="productot" value="{{ app.request.get('productot') }}">
                                <option value="" selected disabled>Producto</option>
                                {% for us in productot %}
                                    <option value="{{ us.id }}">{{ us.descripcion }}</option>
                                {% endfor %}
                             </select>
                        </div>
        				</div>
        				
        			<div class="form-group select-class">
                            <select class="form-control" id="tipoproducto" name="tipoproducto" value="{{ app.request.get('tipoproducto') }}">
                                <option value="" selected disabled>Tipo de Producto</option>
                                {% for tp in tipoproductos %}
                                    <option value="{{ tp.id }}">{{ tp.descripcion }}</option>
                                {% endfor %}
                             </select>
                    </div>
                        
        				
        				
        				<input type="submit" value="Buscar" class="btn btn-sm btn-primary">
        			</form>
                </div>
            </div>
        </div>
</div>

<div class="container">
	    <div class="row">
	    	
	    <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>

							<th>{{ knp_pagination_sortable(pagination, 'Código', 'u.id') }}</th>
							<th>{{ knp_pagination_sortable(pagination, 'Descripción', 'u.descripcion') }} </th>
							<th>Costo</th>
							<th>Precio de Lista </th>
						    <th>Stock</th>
						     <th>Tipo Prod.</th>
						     <th>Estado</th>
						
                            <th>Acciones</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in pagination %}
                                <tr data-id="{{ producto.id }}">
                                
                                <td>{{ producto.id }}</td>
                                <td>{{ producto.descripcion }}</td>
                                <td>{{ producto.costo }}</td>
                                <td>{{ producto.preciolista }}</td>
                                <td>{{ producto.stock }}</td>
                                <td>{{ producto.tipoproducto.descripcion }}</td>
                                <td>{% if producto.isActive == 1 %}
					               <b>   <span class="text-success">Activo</span></b>
				                      {% elseif producto.isActive == 0 %}
						            <b> <span class="text-warning">Inactivo</span> </b>
                                	{% endif %}</td>

                                <td class="actions">
                                    <a href="{{ path('cya_producto_edit', {id: producto.id }) }}" class="btn btn-success"  title="Editar" >
                                        {% trans %} <i class="fa fa-pencil"></i> {% endtrans %}
                                    </a>
                                    
                                <a href="{{ path('cya_producto_delete', {id: producto.id }) }}" onclick="return confirm('Está seguro?')"
			                            
                                            
                                       
                                            class="btn btn btn-danger btn-delete"
                                     title="Eliminar"    >
			                            <i class="fa fa-trash"></i> 
			                     </a>
                                    
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
           <H4> {% trans %}Total Productos:{% endtrans %} {{ pagination.getTotalItemCount }}</H4>
                {# display navigation #}
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}